body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc;
  text-align: center;
  padding: 20px;
}


   h1 {
    
  font-size: 36px;
  position: relative;
  animation: slideIn 1.5s ease-out;
}

@keyframes slideIn {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


img {
  width: 400px;
  border-radius: 50%;
  border: 3px solid #0b0b0b;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #333;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
}

form {
  margin-top: 20px;
}

input {
  padding: 8px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  margin-top: 10px;
  background-color: #457b9d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #1d3557;
}

a {
  display: block;
  margin-top: 20px;
  color: #006d77;
  font-weight: bold;
  text-decoration: none;
}
nav {
  background-color: #2a9d8f;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
